*
!*/
!.gitignore
!call_counter.py
!database_model.py
!finance.py
!/static/app.js
!/static/freedom.jpg
!/static/jquery.sha256.js
!/static/styles.css
!/static/dolar1.css
!/static/dolar2.css
!/static/dolar3.css
!/templates/index.html
!/README.md

#for reference:
# Ignore everything:
#*

# ...even if they are in subdirectories:
#!*/

# if the files to be tracked are in subdirectories:
#!*/a/b/file1.txt
#!*/a/b/c/*