*
!*/

# But not these files...
!.gitignore
!call_counter.py
!database_model.py
!finance.py
!/static/app.js
!/static/freedom.jpg
!/static/jquery.sha256.js
!/static/styles.css
!/templates/index.html


# Ignore everything
#*

# ...even if they are in subdirectories
#!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*