/* css for the navigation bar */
/* from https://www.w3schools.com/css/css_navbar.asp */

.navbar-container {
    display: inline-block;
    margin: 0px 0px -4px 0px;
    padding: 0;
}

ul {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    padding: 0;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


/* CSS for full size screens */


body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table {
    margin: 10px auto 10px auto;
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th {
    border: 1px solid black;
    padding: 10px;
}

tr {
    border: 1px solid black;
    height: 20px;
}

td {
    border: 1px solid black;
    width: 20px;
}

div {
    margin: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type=number] {
    width: 5em;
}

@-webkit-keyframes yellow-fade {
   0% {background: yellow;}
   100% {background: none;}
}

@keyframes yellow-fade {
   0% {background: yellow;}
   100% {background: none;}
}

#logs table {
    margin: 0 auto;
}

#logs {
    max-width: 830px;
    max-height: 80vh;
    overflow: auto;
    margin: 0 auto;
}

#total_pct {
    font-weight: bold;
    color: green;
}

#usr {
    visibility: hidden;
}

#startingSavings {
    text-align: right
}

#trackerComments {
    text-align: center;
}

#incomeTracker,
#expensesTracker {
    width: 5em;
}

#refresh {
    margin: 0.5em auto;
}

#register_div {
    margin-bottom: 1em;
}

.sandwich-menu {

}

.login-or-register {
    font-weight: 700;
}

.rawNum {
    text-align: right
}

.info {
    font-style: italic;
    font-size: small;
}

.top_part {
    width: 40%;
    display: inline-block;
    margin: 15px 4% 15px 4%;
}

.hidden_div {
    display: none;
}

.positiveIncome{
    background-color: aquamarine;
}

.negativeIncome{
    background-color: salmon;
}

.paidLoan{
    background-color: cornflowerblue;
}

.balance {
    background-color: gold;
}

/* media queries */

@media screen and (max-width: 900px) {
    body {
        background-color: inherit;
    }

    h1 {
        font-size: 50px;
    }
}

@media screen and (min-width: 830px) {
    .simplebar-scrollbar {
        right: 12px !important;
    }
}

@media screen and (max-width: 830px) {
    #logs {
        border: 1px solid black;
        max-height: 80vh;
        overflow: auto;
    }


/*
 * remove outer border from table when it starts being scrolable
 * and add border to parent element
 */
    .noOuterBorder {
        border-collapse: collapse;
        border: none;
    }
    .noOuterBorder thead,
    .noOuterBorder thead * {
        border-top: 0;
    }

    .noOuterBorder tr{
        border-left: 0;
        border-right: 0;
    }
    .noOuterBorder *:first-child{
        border-left: 0;
    }
    .noOuterBorder *:last-child {
        border-right: 0;
    }

    .noOuterBorder tr:last-child,
    .noOuterBorder tr:last-child * {
        border-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: inherit;
        width: 90vw;
        margin: auto;
    }

    h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 550px) {
    body {
        background-color: inherit;
    }
}
