/* css for the navigation bar */
/* from https://www.w3schools.com/css/css_navbar.asp */

.navbar-container {
    display: inline-block;
    margin: 0px 0px 8px 0px;
    padding: 0;
}

ul {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    padding: 0;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


/* CSS for full size screens */


body {
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    align-self: center;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table {
    margin: 10px auto 10px auto;
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th {
    border: 1px solid black;
    padding: 10px;
}

tr {
    border: 1px solid black;
    height: 20px;
}

td {
    border: 1px solid black;
    width: 20px;
}

div {
    margin: auto;
    width: 90vw;
    max-width: 830px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type=number] {
    width: 5em;
}

@-webkit-keyframes yellow-fade {
   0% {background: yellow;}
   100% {background: none;}
}

@keyframes yellow-fade {
   0% {background: yellow;}
   100% {background: none;}
}

#logs table {
    margin: 0 auto;
}

#logs {
    max-width: 830px;
    max-height: 80vh;
    overflow: auto;
    margin: 0 auto;
}

#total_pct {
    font-weight: bold;
    color: green;
}

#usr {
    visibility: hidden;
}

#startingSavings {
    text-align: right
}

#trackerComments {
    text-align: center;
}

#incomeTracker,
#expensesTracker {
    width: 5em;
}

#refresh {
    margin: 0.5em auto;
}

#register_div {
    margin-bottom: 1em;
}

.sandwich-menu {

}

.login-or-register {
    font-weight: 700;
}

.rawNum {
    text-align: right
}

.info {
    font-style: italic;
    font-size: small;
}

.top_part {
    width: 40%;
    display: inline-block;
    margin: 15px 4% 15px 4%;
}

.hidden_div {
    display: none;
}

.positiveIncome{
    background-color: aquamarine;
}

.negativeIncome{
    background-color: salmon;
}

.paidLoan{
    background-color: cornflowerblue;
}

.balance {
    background-color: gold;
}

div.about,
div.home {
    max-width: 716px !important;
    width: 80vw !important;
}

.noMarginNoPadding {
    margin: 0;
    padding: 0;
}

/*
 * Burger menu css
 */

.burger-container {
    display: none;
    cursor: pointer;
    width: unset;
    margin: 0.2em;
    align-self: center;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.burger-open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.burger-open .bar2 {opacity: 0;}

.burger-open .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* media queries */

@media screen and (max-width: 900px) {
    body {
        background-color: inherit;
    }

    h1 {
        font-size: 50px;
    }
}

@media screen and (min-width: 830px) {
    .simplebar-scrollbar {
        right: 12px !important;
    }
}

@media screen and (max-width: 830px) {
    #logs {
        border: 1px solid black;
        max-height: 80vh;
        overflow: auto;
    }


    /*
     * remove outer border from table when it starts being scrolable
     * and add border to parent element
     */
    .noOuterBorder {
        border-collapse: collapse;
        border: none;
    }
    .noOuterBorder thead,
    .noOuterBorder thead * {
        border-top: 0;
    }

    .noOuterBorder tr{
        border-left: 0;
        border-right: 0;
    }
    .noOuterBorder *:first-child{
        border-left: 0;
    }
    .noOuterBorder *:last-child {
        border-right: 0;
    }

    .noOuterBorder tr:last-child,
    .noOuterBorder tr:last-child * {
        border-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: inherit;
        width: 90vw;
        margin: auto;
    }

    h1 {
        font-size: 2em;
    }

    .navbar-container {
        height: 50vh;
        max-width: 33vw;
        left: -100vw;
        position: absolute;
        transition: 0.4s;
        background-color: #333;
        border-radius: 0 0 15px 0;
    }

    .nav-open {
        left: 0;
    }

    .navbar-container ul,
    .navbar-container li {
        width: 100%;
    }

    .burger-container {
        display: inline-block;
    }

}

@media screen and (max-width: 550px) {
    body {
        background-color: inherit;
    }

    h1 {
        font-size: 2em;
    }

    .tracker.hidden_div,
    .info {
        font-size: xx-small;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 27px;
        height: 3px;
        margin: 4px 0;
    }

    .burger-open .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 4px);
        transform: rotate(-45deg) translate(-6px, 4px);
    }

    .burger-open .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -5px);
        transform: rotate(45deg) translate(-5px, -5px);
    }
}

@media screen and (max-width: 460px) {
    h1 {
        font-size: 1.4em;
    }

    .navbar-container {
        max-width: 40vw;
    }
}


/*
 * Animation Keyframes (unused)
 */

@keyframes nav-bar-animation {
    0%   {max-height: 0;}
    100% {max-height: 100px;}
}